@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Grandstander", serif;
  text-transform: uppercase;
}

.font-grandstander {
  font-family: "Grandstander", serif;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #bc2b26;
}

::selection {
  color: white;
  background: #bc2b26;
}

a:hover {
  text-decoration: underline;
  color: #bc2b26;
}
